/* global ---------------------------- */

:root {
    --mainColor: #0f3157;
    --secColor: #438BDE;
    --mainFont: 'Roboto Condensed', sans-serif;
    --secFont: 'Lato', sans-serif;
    font-size: 16px;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
}

body { 
    width: 410px;
    background-color: hsl(0, 0%, 10%);
    margin: 0;
    border: 1px solid var(--mainColor);
    padding: 0.5em;
}

body, button {
    font-family: var(--mainFont);
    color: white;
}

:focus {
    outline: 1px solid var(--secColor);
}

/* header -------------------------- */

header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainColor);
    font-family: var(--secFont);
    border-radius: 10px;
    padding: 1em;
    transition: 0.2s;
}

header h1 {
    color: var(--secColor);
}


.header-corner-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 5px;
    font-size: 1em;
    margin: 0.5em;
}

.header-corner-left div {
    display: flex;
    align-items: center;
}


.dev {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    color: hsl(0, 0%, 75%);
    font-size: 0.65em;
    margin: 0.5em;
    cursor: default;
}


img {
    width: 2em;
    cursor: pointer;
    padding-bottom: 0.25em;
    transition: 0.2s;
}

img:hover {
    transform: scale(1.2);
    border-bottom: 1px solid var(--secColor);
}

.header-corner-left .coffee-text {
    opacity: 0;
    transform: translate(10px);
    transition: 0.2s;
    cursor: default;
}
.github-text {
    position: absolute;
    transform: translate(-2px,40px);
    opacity: 0;
    transition: 0.2s;
    cursor: default;
}

.github:hover ~ .github-text {
    opacity: 1;
    transform: translate(-2px,25px);
}

.coffee:hover ~ .coffee-text {
    opacity: 1;
    transform: translate(0px);
}

.coffee-animation {
    animation: rotate 3s infinite;
}

@keyframes rotate {
    10% {
        transform: rotate(20deg);
    }
    20% {
        transform: rotate(-20deg);
    }
    30% {
        transform: rotate(20deg);
    }
    40% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
    

}

/* Hint ----------------------------------------------- */

.hint {
    font-size: 1.25em;
    background-color: hsl(0, 0%, 15%);
    border-radius: 10px;
    padding: 0.5em;
    color: hsl(0, 0%, 100%);
    display: none;
}


/* form --------------------------------------------- */

.shortcut-menu {
    margin-top: 3em;
    display: grid;
    place-items: center;
    padding: auto;
}

.shortcut-input {
    display: grid;
    grid-template-columns: auto auto ;
    grid-template-rows: auto auto auto;
    place-items: center;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    padding: 0.5em;
    width: auto;
    box-shadow: hsla(0, 0%, 0%, 0.2) 0px 8px 24px;
}

.input-text {
    color: white;
    border: none;
    border-radius: 10px;
    background-color: hsl(0, 0%, 15%);
    height: 20px;
    padding: 0.25em;
    margin: 0.25em;
}

.shortcut-input input:focus{
    outline: 1px solid var(--secColor);
}

.input-box {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    place-items: center;
}

.shortcut-input button {
    width: 70px;
    height: 40px;
    background-color: var(--mainColor);
    border-radius: 10px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    transition: 0.2s;
}

.checkbox {
    display: flex;
    align-items: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 1em;
}

.checkbox div {
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
}

.checkbox input {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px; 
    opacity: 0;
    z-index: 1;
}

.urlBox {
    display: flex;
    flex-direction: column;
}

.invalid {
    animation: angryShake 0.5s;
}

.invalid-text {
    opacity: 0;
    color: #992822;
    text-align: center;
}

@keyframes angryShake {
    20% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(10px);
    }
    60% {
        transform: translateX(-10px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.checkbox span {
    position: absolute;
    border-radius: 50%;
    margin: 0;
}

.circle-border {
    border: 1px solid var(--secColor);
    width: 20px;
    height: 20px;
}

.circle-inner {
    width: 0;
    opacity: 0;
    height: 0;
    background-color: var(--secColor);
    transition: 0.2s;
}

.checkbox input:checked ~ .circle-inner{
    width: 14px;
    height: 14px;
    opacity: 1;
}

.checkbox input:focus ~ .circle-border {
    background-color: hsl(0, 0%, 15%);
}

.checkbox * {
    margin: 0.25em;
}



/* list ---------------------------------------------- */

.shortcut-list {
    width: 390px;
    max-height: 200px;
    background-color: hsl(0, 0%, 15%);
    margin-top: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow-y: auto;
}

.shortcut {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0.5em 0;
    transition: 0.2s;
}

.shortcut.shortcut-list-header {
    margin-top: 1.25em;
    background-color: hsl(0, 0%, 10%);
    width: 390px;
    opacity: 0;
}

.shortcut p {
    margin: 0.25em;
    overflow: hidden;
}

.delete-shortcut {
    display: block;
    position: absolute;
    right: 0;
    width: 50px;
    height: 20px;
    background-color: hsl(0, 71%, 20%);
    font-size: 1em;
    border-radius: 10px;
    transition: 0.2s;
    margin: 0 0.25em;
}

.change-openas {
    position: absolute;
    right: calc(50px + 0.6em);
    width: 40px;
    height: 20px;
    border-radius: 10px;
    font-size: 0.75em;
    transition: 0.2s;
    margin: 0 0.25em;
    background-color: var(--mainColor);
}

button:hover {
    opacity: 0.8;
}

.shortcut-info.shortcut-name {
    width: 150px;
}

.shortcut-info.shortcut-keybind {
    width: 100px;
} 

.shortcut-info.shortcut-openas {
    width: 100px;
}

/* list scroll ------------------------------*/

::-webkit-scrollbar {
    background-color: hsl(0, 0%, 15%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 20%);
}